{#login/templates/login/wx.html#}

{% extends 'base.html' %}
{% block title %}主页{% endblock %}
{% block content %}
    {% if request.session.is_login %}
    <h1>你好,{{ request.session.user_name }}！欢迎回来！</h1>
    <div class="header-title">
        <span>域名微信拦截检测</span>
    </div>
        <form action="/wx/" method="post">
            {% csrf_token %}
            <input type="text" title="" placeholder="请输入域名,目前仅支持单域名查询。" name="q">
            <input type="submit" value="检测">
        </form>
    <p>{{ rlt }}</p>
    {% else %}
    <h1>你尚未登录，只能访问公开内容！</h1>
    {% endif %}
{% endblock %}
